<h3>Listado de heroes</h3>

<ul class="mt-2 list-group">
 
  <li  *ngFor=" let hero of heroesList "  class="list-group-item">{{ hero }}</li>


  <div id="btn_container" class="btn-group mt-3">
    <button type="button" class="btn btn-primary me-2" (click)="addHero()">Agregar Heroe</button>
    <button *ngIf=" heroesList.length > 0 " type="button" class="btn btn-danger me-2" (click)="deleteLastHero()">Eliminar Ultimo Heroe</button>
  </div>


  <div *ngIf="deletedHero ; else showAnotherThing">
    <h4  class="mt-3">Heroe Agregado/Eliminado:<small id="updatedHeroStatus"> {{ heroDeleted || "xxxx" }} </small></h4>
  </div>

  <ng-template #showAnotherThing>
    <br>
    <h4>Sin heroes eliminados aún</h4>
  </ng-template>

</ul>


